<div th:fragment="content">
    <section id="home" class="g-bg-img-hero g-pos-rel  g-pt-100"
    >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Successful submission.</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/" class="btn btn-lg btn-info">Back</a>

                </div>
            </div>
        </div>
    </section>
</div>